<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4"> 
             <!--  {{signIn.value | json}}  -->  
            <form #signIn = "ngForm" >  
              <div class="form-group">
              <h1 style="text-align:center">Sign Up</h1>    
              
                <div class="input-group mb-3">   
                 
                    <input type="text" class="form-control" placeholder="Username"  
                            name="userName" 
                            autocomplete="off"
                            required
                            [(ngModel)]="signupModelForm.userName"
                            #userName="ngModel"
                            [class.is-invalid]="userName.invalid && userName.touched"
                            pattern="[a-zA-Z ]*"  
                            > 
                            <span *ngIf="userName.invalid && userName.touched" class= "input-group-addon">
                                <i class="fa fa-fw fa-info-circle text-danger " style="height:10px;" aria-hidden="true" ></i> </span>  
                   
                  
              </div> 
              <div class="input-group mb-4">  
                    <input type="text" class="form-control" placeholder="Email" 
                            name="email"
                            required  
                            [(ngModel)]="signupModelForm.email"
                            #email = "ngModel"
                            [class.is-invalid]="email.invalid && email.touched"
                    >  
              </div>  
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Password"  
                       name="password"
                       required  
                       [(ngModel)]="signupModelForm.password"
                       #password = "ngModel"
                       [class.is-invalid]="password.invalid && password.touched"
                >  
          </div>  
          <button type="submit"  [disabled] = "signIn.form.invalid" class="btn btn-block btn-success" (click)="addUser()">Sign Up</button>  
            </div>
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
