<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Who is the prime minister of India?</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-10">
            <input type="radio" id="html" name="fav_language" value="Nare">
            <label for="html">Narendra Modi</label><br>
              <input type="radio" id="css" name="fav_language" value="CSS">
              <label for="css">A</label><br>
              <input type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label for="javascript">B</label>

        </div>
    </div>
</div>
